* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 1rem;
}

h1 {
    color: red;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    border: 1px solid red;
    font-size: 1.875em;
}

h3 {
    font-weight: bold;
    margin: 1em 0em 0.2em 0em;
    font-size: 1.2em;
}

details {
    font-size: 1em;
    cursor: pointer;
    display: inline;
}

details li {
    cursor: text;
    padding-left: 0.5em;
    font-size: 1em;
    margin-left: 3em;
}

p {
    margin: 0.2em 0em;
    font-size: 1em;
}

.analyses-el {
    display: block;
}

.analyses-el li {
    margin-left: 3em;
    padding-left: 0.5em;
}

.commit-el {
    padding: 1rem;
}

.sha-el {
    margin-top: 1em;
}