[build-system]
requires = ["setuptools"] #, "setuptools-scm"]
build-backend = "setuptools.build_meta"


[project]
name = 'DS18B20dvr'
version = "1.2"
description = "DS18B20 library/driver for Raspberry Pi using the w1_therm kernel driver"
readme = "README.md"
requires-python = ">=3.7"
authors = [ {name = "Chris Nelson", email = "github@cjnaz.com"} ]
license = {file = "LICENSE.txt"}
dependencies = [
#    'cjnfuncs >= 2.1b1',
#   'importlib-metadata; python_version<"3.8"',
    ]
classifiers = [                 # https://pypi.org/classifiers/
    "Topic :: Software Development :: Libraries :: Python Modules",
    ]


[project.scripts]
DS18B20cli = "DS18B20dvr.DS18B20:cli"


[project.urls]
repository = "https://github.com/cjnaz/DS18B20"


[tool.setuptools.packages.find]
where = ["src"]

#[tool.setuptools.package-data]
#"*" = ["deployment_files/*"]