/* custom.css */

.bd-sidebar {
    color: #ffa07a !important;
}

bd-navbar {
    background-color: #ffa07a !important;
}

.bd-navbar a:hover {
    color: #DDA0DD !important;
}

.highlight {
    background-color: #f8f9fa !important;
    color: #c7254e !important;
}