[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.maturin]
features = ["pyo3/extension-module"]

[tool.poetry]
name = "sdb_connector"
version = "0.1.1"  # Update this version number
description = "A python libary written in Rust for Surrealdb connection and data preparation"